<header>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>relearning backbone</b></a>
            </div>
            <ul class="nav navbar-nav">
                {{#if _id}}
                    <li><a href="#users"><span class="fa fa-users"></span> Users</a></li>
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if _id}}
                    <li class="navbar-text">Hello {{name}}</li>
                    <li><a href="#logout">Logout <span class="fa fa-lg fa-sign-out"></span></a></li>
                {{else}}
                    <li><a href="#login">Login <span class="fa fa-lg fa-sign-in"></span></a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</header>