<header>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>relearning backbone</b></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                [Navigation Elements]
            </ul>
        </div>
    </div>
</header>