<header>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>relearning backbone</b></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#users"><span class="fa fa-users"></span> Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#logout"><span class="fa fa-lg fa-times-circle-o"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</header>